@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="img-thumbnail w-75 text-wrap m-auto">
	<div class="row text-center justify-content-evenly p-1">
		<div class="btn col-3" style="background-color:#F27456">
			<a class="text-decoration-none text-white" asp-area="Customer" asp-controller="Quotation" asp-action="Index">Quick Quote</a>
		</div>
		<div class="btn col-3" style="background-color:#F27456">
			<a class="text-decoration-none text-white" asp-area="Customer" asp-controller="Quotation" asp-action="SendRequest">Send Request</a>
		</div>
		<div class="btn col-3" style="background-color:#F27456">
			<a class="text-decoration-none text-white" asp-area="Customer" asp-controller="Quotation" asp-action="ManageRequest">Manage Request</a>
		</div>
	</div>
</div>