

<div class="card shadow border-0 my-4">
	<div class="card-header bg-main ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Customer's Request List</h2>
			</div>
		</div>
	</div>

	<div class="card-body p-4">

		<div class="table-responsive">
			<table id="tblRequest" class="table-bordered table-striped text-black" style="width:100%">
				<thead>
					<tr>
						<th>
							Id
						</th>
						<th>
							Date
						</th>
						<th>
							Customer Name
						</th>
						<th>
							Gender
						</th>
						<th>
							Phone
						</th>
						<th>
							Email
						</th>
						<th>
							Construction Type
						</th>
						<th>
							Acreage
						</th>
						<th>
							Location
						</th>
						<th>
							Description
						</th>
						<th>
							Status
						</th>
						<th>
							Actions
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>



@section Scripts {
	<script src="~/js/datatables/sellerDTB/RequestDTB.js"></script>
}
