@{
    ViewData["Title"] = "Yêu cầu của khách đã từ chối";
}
<div class="card shadow border-0 my-4">
    <div class="card-header bg-main ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Yêu cầu của khách đã từ chối</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <div class="table-responsive">
            <table id="tblRequestRejected" class="table-bordered table-striped text-black" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Mã
                        </th>
                        <th>
                            Ngày tạo
                        </th>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Giới tính
                        </th>
                        <th>
                            SĐT
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Loại công trình
                        </th>
                        <th>
                            Diện tích
                        </th>
                        <th>
                            Địa chỉ 
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th>
                            Hành động
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/datatables/sellerDTB/RejectedRequestDTB.js"></script>
}
