@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Lịch sử";
}

<div class="card shadow border-0 my-4">
	<div class="card-header bg-main ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Lịch sử báo giá</h2>
			</div>
		</div>
	</div>

	<div class="card-body p-4">

		<div class="table-responsive">
			<table id="tblCustomQuotation" class="table-bordered table-striped text-black" style="width:100%">
				<thead>
					<tr>
						<th class="text-nowrap">
							Mã
						</th>
						<th class="text-nowrap">
							Ngày tạo
						</th>
						<th class="text-nowrap">
							Diện tích
						</th>
						<th class="text-nowrap">
							Vị trí
						</th>
						<th class="text-nowrap">
							Tổng giá
						</th>
						<th class="text-nowrap">
							Trạng thái
						</th>
						<th class="text-nowrap">
							Hành động
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/datatables/engineerDTB/HistoryCustomQuotationDTB.js"></script>
}
