<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SWP391.CHCQS.OurHomeWeb.styles.css" asp-append-version="true" />

	<!-- Import Icon -->
	<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true">

	<!-- Link toast Notification -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
</head>
<body>
	<header class="sticky-top">
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" width="150px"></img></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="Customer" asp-controller="Combo" asp-action="Index">Combo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="Customer" asp-controller="Project" asp-action="Index">Project</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="Customer" asp-controller="Material" asp-action="Index">Material</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="Customer" asp-controller="Quotation" asp-action="Index">Quotation</a>
						</li>
					</ul>

					<div class="nav-item row wrapper_login_signup_btn">
						<div class="col btn login-btn">
							<a href="" class="text-white text-decoration-none">Sign Up</a>
						</div>
						<div class="col btn signup-btn">
							<a href="" class="text-white text-decoration-none">Login</a>
						</div>
					</div>

				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			<partial name="_Notification" />
			@RenderBody()
		</main>
	</div>

	<footer class="border-top text-muted">
		<div class="container">
			<div class="col text-center mt-2">
				<img src="~/images/logo.png" width="200px"></img>
			</div>
			<div class="row mt-5 mb-5 align-items-center">
				<div class="col-sm-8 mb-3 ">
					<h5>Contruction Company: OurHome</h5>
					<h5 class="text-wrap">Office Address: District 9, Thu Duc City, Ho Chi Minh city</h5>
					<h5>Hotline: 0908176623</h5>
					<h5>Email: ourhome.construct@gmail.com</h5>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-6">
							<h6><b>Quick Link</b></h6>
							<ul class="lh-lg">
								<li><a class="text-decoration-none text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
								<li><a class="text-decoration-none text-dark" asp-area="Customer" asp-controller="Combo" asp-action="Index">Combo</a></li>
								<li><a class="text-decoration-none text-dark" asp-area="Customer" asp-controller="Project" asp-action="Index">Project</a></li>
								<li><a class="text-decoration-none text-dark" asp-area="Customer" asp-controller="Material" asp-action="Index">Material</a></li>
								<li><a class="text-decoration-none text-dark" asp-area="Customer" asp-controller="Quotation" asp-action="Index">Quotation</a></li>
							</ul>
						</div>
						<div class="col-6">
							<h6><b>Socical Media</b></h6>
							<ul class="lh-lg list-unstyled">
								<li><a class="text-decoration-none text-dark" href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
								<li><a class="text-decoration-none text-dark" href=""><i class="fa-brands fa-x-twitter"></i> Twitter</a></li>
								<li><a class="text-decoration-none text-dark" href=""><i class="fa-brands fa-facebook"></i> Facebook</a></li>
							</ul>
							<div class="btn m-0" style="background-color:#F27456">
								<a class="text-decoration-none text-white" href="">Get Quote Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdn.tiny.cloud/1/9v3f6801xkjbo5g8uijy1kuncu1ltgp0khqtlsn6d9oulwdj/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
