

<div id="content" class="details">
    <div class="container" style="position:relative">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="box-shadow m-b-15">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="title col-xs-12">
                                <h1>Title</h1>
                            </div>
                            <div class="p-b-15 col-xs-12" style="border: 1px solid #ccc">
                                <div class="row">
                                    <div class="col-xs-12 m-b-15" style="margin-bottom:1.5em">
                                        <span style="font-size:1.5em">Thông tin yêu cầu</span>
                                        <div style="float:right !important"> </div>
                                        <div class="project_description text-justify m-t-15">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
