@{
    ViewData["Title"] = "Báo giá";
}
<div class="card shadow border-0 my-4">
	<div class="card-header bg-main ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Thống kê báo giá</h2>
			</div>
		</div>
	</div>

	<div class="card-body p-4">

		<div class="table-responsive">
			<table id="tblCustomQuotation" class="table-bordered table-striped text-black" style="width:100%">
				<thead>
					<tr>
						<th>
							Mã
						</th>
						<th>
							Ngày tạo
						</th>
						<th>
							Diện tích
						</th>
						<th>
							Vị trí
						</th>
						<th>
							Loại công trình
						</th>
						<th>
							Trạng thái
						</th>
						<th>
							Tư vấn viên
						</th>
						<th>
							Kỹ sư
						</th>
						<th>
							Quản lý
						</th>
						<th>
							Hành động
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>


@section Scripts {
	<script src="~/js/datatables/managerDTB/QuotationManagerDTB.js"></script>
}

