@{
    ViewData["Title"] = "Quotation Statistic";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
    </div>
    <div class="">
        <select  id="yearSelect" class="form-select" aria-label="Default select example">
        </select>
        <div class="chart-bar">
            <canvas id="myQuoteBarChart"></canvas>
        </div>
    </div>
</div>
	<div class="card-body p-3">
		<div class="table-responsive">
			<table id="tblQuotation" class="table-bordered table-striped text-black" style="width:100%">
				<thead>
					<tr>
						<th>
							Id
						</th>
						<th>
							Date
						</th>
						<th>
							Acreage
						</th>
						<th>
							Location
						</th>
						<th>
							Description
						</th>
						<th>
							Status
						</th>
						
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>


@section Scripts {
	<script src="~/js/datatables/managerDTB/quotationDTB.js"></script>

    <script src="~/js/charts/QuoteStatisticChart.js"></script>
    <script src="~/js/event_load.js"></script>
}
      

