html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/*Style for text and bg*/
.bg-main {
    background-color: #F27456 !important;
    color: white;
    opacity: 1;
}

.text-main {
    color: #F27456;
}

.text-pointer {
    cursor: pointer;
}


/*Style for main BTN*/
.btn-main {
    background-color: #F27456 !important;
    color: white;
}

    .btn-main:hover {
        color: white;
        opacity: 0.8;
    }


/*Style for datatables*/
#tblTask td, th {
    padding: 2px 4px;
    font-size: 12px;
}

#tblCustomQuotationTask td, th {
    padding: 2px 4px;
    font-size: 12px;
}
#tblTaskDetail {
    padding: 2px 4px;
    font-size: 12px;
}
#tblTaskDetail_wrapper label {
    font-size: 12px;
}
#tblMaterialDetail td, th {
    padding: 2px 4px;
    font-size: 12px;
}

#tblMaterial td, th {
    padding: 2px 4px;
    font-size: 12px;
}

#tblTask_wrapper label {
    font-size: 12px;
}

#tblCustomQuotationTask_wrapper label {
    font-size: 12px;
}

#tblMaterial_wrapper label {
    font-size: 12px;
}

#tblMaterialDetail_wrapper label {
    font-size: 12px;
}


/*Style for toast notification*/
.toast-success {
    color: white;
    border: none !important;
}

    .toast-success:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    }

/* Style for login logout button */
.btn {
    color: white !important; 
}

    .btn.login {
        color: #F27456 !important;
        background-color: white !important;
        border: 1px solid;
    }

    .btn.register {
        background-color: #F27456 !important;
        border: 1px solid;
    }

    .btn.login:hover {
        color: white !important;
        background-color: #F27456 !important;
        transition: ease 0.3s;
    }

    .btn.register:hover {
        color: #F27456 !important;
        background-color: white !important;
        transition: ease 0.3s;
    }
