@model StandardQuotationViewModel

<div class="card shadow border-0 my-4">
	<div class="card-header bg-main ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Create Standard Quotation</h2>
			</div>
		</div>
	</div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                
                <div class="form-floating py-2 col-12">
                    <input asp-for="StandardQuotation.Name" class="form-control border-0 shadow" />
                    <label asp-for="StandardQuotation.Name" class="ms-2"></label>
                    <span asp-validation-for="StandardQuotation.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="StandardQuotation.Description" class="form-control border-0 shadow" />
                    <label asp-for="StandardQuotation.Description" class="ms-2"></label>
                    <span asp-validation-for="StandardQuotation.Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="StandardQuotation.Price" class="form-control border-0 shadow" />
                    <label asp-for="StandardQuotation.Price" class="ms-2"></label>
                    <span asp-validation-for="StandardQuotation.Price" class="text-danger"></span>
                </div>
                
                <div class="form-floating py-2 col-12">
                    <select asp-for="StandardQuotation.ConstructionId" asp-items="@Model.ConstructionTypeList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Construction Type--</option>
                    </select>
                    <label asp-for="StandardQuotation.ConstructionId" class="ms-2"></label>
                    <span asp-validation-for="StandardQuotation.ConstructionId" class="text-danger"></span>
                </div>
               
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control btn-main"> Create </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="StandardQuotation" asp-action="Index" class="btn btn-main border form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>

</div>