
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="card shadow border-0 my-4">
	<div class="card-header bg-main ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Combo List</h2>
			</div>
		</div>
	</div>

	<div class="card-body p-4">

		<div class="table-responsive">
			<table id="tblMaterial" class="table-bordered table-striped text-black" style="width:100%">
				<thead>
					<tr>
						<th>
							Id
						</th>
						<th>
							Name
						</th>
						<th>
							Description
						</th>
						<th>
							Price
						</th>
						<th>
							Status
						</th>
						<th>
							Construction Type
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
