
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_LayoutManager.cshtml";
	
}


<div class="card shadow border-0 my-4">
	<div class="card-header bg-main ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Combo List</h2>
			</div>
		</div>
	</div>

	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-area="Manager" asp-controller="Combo" asp-action="Create" class="btn btn-primary btn-main">
					<i class="bi bi-plus-circle"></i>  Create New Combo
				</a>
			</div>
		</div>
		<div class="table-responsive">
			<table id="tblCombo" class="table-bordered table-striped text-black" style="width:100%">
				<thead>
					<tr>
						<th>
							Id
						</th>
						<th>
							Name
						</th>
						<th>
							Description
						</th>
						<th>
							Price
						</th>
						
						<th>
							Construction Type
						</th>
						<th>
							Actions
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/datatables//managerDTB/ComboDTB.js"></script>
}