@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Project</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a href="">Home</a></h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">Project</h6>
    </div>
</div>
<!-- Page Header Start -->
<!-- Portfolio Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4">Some Of Our <span class="text-primary">Popular</span> Dream Projects</h1>
    </div>
    <div class="row g-5 portfolio-container">
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="~/img/portfolio-1.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">Project Name</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-1.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item second">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="~/img/portfolio-2.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">Project Name</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-2.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="~/img/portfolio-3.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">Project Name</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-3.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item second">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="~/img/portfolio-4.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">Project Name</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-4.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="~/img/portfolio-5.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">Project Name</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-5.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item second">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="~/img/portfolio-6.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">Project Name</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End -->