@using System.Security.Claims
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }

    var userRoles = ((ClaimsIdentity)User.Identity).Claims
            .Where(c => c.Type == ClaimTypes.Role)
            .Select(c => c.Value);

    if (userRoles.Contains("Admin"))
    {
        Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (userRoles.Contains("Manager"))
    {
        Layout = "/Views/Shared/_LayoutManager.cshtml";
    }
    if (userRoles.Contains("Engineer"))
    {
        Layout = "/Views/Shared/_LayoutEngineer.cshtml";
    }
    if (userRoles.Contains("Seller"))
    {
        Layout = "/Views/Shared/_LayoutSeller.cshtml";
    }
}

<div>
    <h2>Thay đổi cài đặt tài khoản của bạn</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
