@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
    /* CSS cho liên kết trong danh sách nav */
    .nav-pills .nav-item .nav-link.active {
        color: #fff !important;
        background-color: #F27456 !important;
    }
    .nav-link{
        color:black;
        font-weight:400
    }

    .nav-link:hover{
        color: #F27456;
    }
    
</style>

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @(ManageNavPages.IndexNavClass(ViewContext))" id="profile" asp-page="./Index">Hồ sơ</a></li>
    <li class="nav-item"><a class="nav-link @(ManageNavPages.EmailNavClass(ViewContext))" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @(ManageNavPages.ChangePasswordNavClass(ViewContext))" id="change-password" asp-page="./ChangePassword">Mật khẩu</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @(ManageNavPages.ExternalLoginsNavClass(ViewContext))" asp-page="./ExternalLogins">External logins</a></li>
    }    
</ul>
