@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="d-flex justify-content-center">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="container d-flex justify-content-center align-items-center min-vh-30 mb-3">
    <div class="row rounded-3 p-3 bg-white">
        <div class="col-md-6 m-auto rounded-3 d-flex justify-content-center align-items-center flex-column">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <div class="form-floating" style="width:30em">
                        <input asp-for="Input.OldPassword" class="form-control form-control-lg bg-light fs-6" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="mb-3">
                    <div class="form-floating" style="width:30em">
                        <input asp-for="Input.NewPassword" class="form-control form-control-lg bg-light fs-6" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="mb-3">
                    <div class="form-floating" style="width:30em">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg bg-light fs-6" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="mb-3">
                    <button type="submit" class="w-100 btn btn-lg btn-main">Update password</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
