@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="d-flex justify-content-center align-items-center">@ViewData["Title"]</h1>
<p>Please fill in your mail, check full verification and enter a new password</p>
<hr />
<h6 class="container d-flex justify-content-center">Enter your email</h6>
<div class="container d-flex justify-content-center align-items-center min-vh-30 mb-3">
    <div class="row rounded-3 p-3" style="width: 50%">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </form>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
