@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="d-flex justify-content-center align-items-center">@ViewData["Title"]</h1>


<div class="container d-flex justify-content-center align-items-center min-vh-30 mb-3">
    <div class="row border rounded-3 p-3 bg-white shadow" style="width: 930px">
        <div class="col-md-6 rounded-3 d-flex justify-content-center align-items-center flex-column ">
            <div class="featured-image">
                <img src="~/images/background.jpg" class="img-fluid" style="width:100%" alt="" />
            </div>
        </div>

        <div class="col-md-6" style="padding: 40px 30px 40px 40px">
            <div class="row align-items-center text-center">
                @if (User.IsInRole(SD.Role_Admin))
                {
                    <h4>Register New User <br />
                        ADMIN PORTAL
                    </h4>
                }
                else
                {
                    <div class="justify-content-center align-items-center">
                        <h4>Welcome to our services</h4>
                        <h4>We are happy to have you with us</h4>
                    </div>
                }
                

                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Input.Username" class="form-control form-control-lg bg-light fs-6" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Username"></label>
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control form-control-lg bg-light fs-6" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Input.Phone" class="form-control form-control-lg bg-light fs-6" aria-required="true" />
                            <label asp-for="Input.Phone"></label>
                            <span asp-validation-for="Input.Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Input.Password" class="form-control form-control-lg bg-light fs-6" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg bg-light fs-6" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Input.Name" class="form-control form-control-lg bg-light fs-6" aria-required="true" />
                            <label asp-for="Input.Name"></label>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                    </div>
                    @if (!User.IsInRole(SD.Role_Admin))
                    {
                        <div class="mb-1">
                            <div class="form-floating mb-3">
                                <select asp-for="Input.Gender" asp-items="@Model.Input.GenderList" class="form-select">
                                </select>
                                <label asp-for="Input.Gender"></label>
                            </div>
                        </div>
                    }
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <div class="mb-1">
                            <div class="form-floating mb-3">
                                <select asp-for="Input.Role" asp-items="@Model.Input.Roles" class="form-select">
                                    <option disabled selected>----Select Role----</option>
                                </select>
                            </div>
                        </div>
                    }

                    <div class="mb-3">
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary fs-6">Register</button>

                    </div>
                    
                </form>
                @if (!User.IsInRole(SD.Role_Admin))
                {
                    <div class="row">
                        <small>Already have an account? <a href="/Identity/Account/Login">Log in</a></small>
                    </div>
                }

            </div>

        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
