@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tài khoản của bạn đã được đặt lại. Làm ơn <a asp-page="./Login">ấn vào đây để đăng nhập</a>.
</p>
