@model List<Project>

@{
	ViewData["Title"] = "Home";
}

<div class="row mb-5 align-items-center justify-content-center">
	<div class="col-6 mt-5">
		<h5 class="text-muted">Một trải nghiệm mới đầy hứng thú đang chờ đợi bạn!</h5>

		<h1 class="mt-sm-5 mb-sm-5" style="color:#F27456">Tìm kiếm và xây dựng ngôi nhà mơ ước của bạn</h1>

		<h5 class="text-muted">Nền tảng báo giá xây dựng dân dụng<br>tập trung vào người tiêu dùng hàng đầu tại Việt Nam</h5>

		<div class="col-sm btn-group rounded-1 mt-5" role="group">
			<a asp-area="Customer" asp-controller="Request" asp-action="CreateRequest" class="btn btn-main">Nhận báo giá chi tiết</a>
		</div>
	</div>
	<div class="col-4 img-thumbnail">
		<img src="~/images/background.jpg" width="100%" class=""></img>
	</div>
</div>

<hr></hr>

<div class="row align-items-center mt-5 mb-5">
	<div class="col-sm-4 img-thumbnail">
		<img src="~/images/side_bg.jpg" width="100%" class=""></img>
	</div>
	<div class="col-sm-8 p-sm-5">
		<h2 style="color:#F27456" class="mb-5 mt-5">Về chúng tôi</h2>

		<p style="font-size:1.3em">Tại OurHome, chúng tôi tự hào là đối tác đáng tin cậy trong xây dựng nhà ở. Với hơn 12 năm kinh nghiệm, chúng tôi đã thực hiện và hoàn thành thành công nhiều dự án, mang lại không gian sống lý tưởng và chất lượng hàng đầu cho khách hàng của chúng tôi. Sứ mệnh của chúng tôi không chỉ dừng lại ở việc xây dựng nhà cửa; chúng tôi cũng cố gắng tạo ra những không gian ấm áp, hiện đại phản ánh phong cách sống độc đáo của từng gia đình.</p>

		<p style="font-size:1.3em">Với đội ngũ kiến trúc sư, kỹ sư và nhân viên chăm sóc khách hàng nhiệt huyết, chúng tôi cam kết mang đến trải nghiệm dịch vụ tốt nhất. Chăm chỉ trong mỗi giai đoạn xây dựng, chúng tôi không chỉ đảm bảo chất lượng công trình mà còn tạo điều kiện cho quá trình hợp tác thoải mái và đáng tin cậy. Hãy để OurHome trở thành đối tác đáng tin cậy của bạn, biến ước mơ về một ngôi nhà lý tưởng thành hiện thực.</p>
	</div>
</div>

<hr></hr>

<div class="container-fluid col align-items-center justify-content-center">
	<div class="row text-center ">
		<h1 class="mt-sm-5 mb-sm-5" style="color:#F27456">Tại sao lại chọn chúng tôi ?</h1>
	</div>
	<div class="row text-center pb-sm-5">
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-solid fa-user-tie fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Chuyên nghiệp và kinh nghiệm</h6>
			</div>
		</div>
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-solid fa-star fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Chất lượng xây dựng hàng đầu</h6>
			</div>
		</div>
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-regular fa-thumbs-up fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Lấy khách hàng làm trung tâm</h6>
			</div>
		</div>
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-solid fa-pen-nib fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Giải pháp thiết kế sáng tạo</h6>
			</div>
		</div>
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-solid fa-check fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Hợp tác đáng tin cậy</h6>
			</div>
		</div>
	</div>
</div>

<hr></hr>

<div class="col">
	<div class="row">
		<div class="mt-5 mb-5 col-sm d-flex justify-content-between align-items-center">
			<h1 style="color:#F27456">Các dự án</h1>
			<div class="btn">
				<a class="text-decoration-underline fa-1x" style="color:#F27456" asp-area="Customer" asp-controller="Project" asp-action="Index">Tất cả</a>
			</div>
		</div>
	</div>
	<div class="row m-auto"> 
		@if(Model != null)
		{
			@foreach (var project in Model)
			{
				<div class="col-sm-4 mb-5">
					<div class="img-thumbnail">
						<img src="~/images/project_bg/project_bg_4.jpg" width="100%"></img>
						<div class="m-sm-3 text-dark">
							<h3><b>Name: </b>@project.Name</h3>
							<p><b>Location:</b> @project.Location</p>
							<p><b>Scale:</b> @project.Scale</p>
							<p><b>Size:</b> @project.Size</p>
						</div>
						<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
							<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Chi tiết</a>
						</div>
					</div>
				</div>
			}
		}
		
	</div>
</div>

<hr></hr>

<div class="row container align-items-center mt-5 mb-5 m-auto">
	<div class="col-sm-6">
		<div class="row">
			<div class="d-flex align-items-center justify-content-between">
				<h1 class="mt-5 mb-5" style="color:#F27456">Các dịch vụ</h1>
				<div class="btn">
					<a class="text-decoration-underline fa-1x" style="color:#F27456" asp-area="Customer" asp-controller="Combo" asp-action="Index">Tất cả</a>
				</div>
			</div>
			<p>Cam kết của chúng tôi là mang lại sự xuất sắc trong mọi khía cạnh, đảm bảo sự hài lòng và an tâm của bạn. Khám phá các dịch vụ đa dạng của chúng tôi được thiết kế để nâng cao trải nghiệm của bạn.</p>
		</div>
		<div class="col img-thumbnail">
			<img class="w-100" src="~/images/project_bg/project_bg_4.jpg"></img>
		</div>
	</div>

	<div class="col-sm-6 align-items-center">

		<div class="row p-1">
			<div class="col img-thumbnail">
				<img src="~/images/combo_bg/combo_bg_1.jpg" class="w-100"></img>
			</div>
			<div class="col">
				<h3></b>Residential Construction</h3>
				<p><b>Price:</b> 2 Tỷ</p>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Chi tiết</a>
				</div>
			</div>
		</div>

		<div class="row p-1">
			<div class="col img-thumbnail">
				<img src="~/images/combo_bg/combo_bg_1.jpg" class="w-100"></img>
			</div>
			<div class="col">
				<h3></b>Residential Construction</h3>
				<p><b>Price:</b> 2 Tỷ</p>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Combo" asp-action="Detail" class="btn btn-main">Chi tiết</a>
				</div>
			</div>
		</div>

		<div class="row p-1">
			<div class="col img-thumbnail">
				<img src="~/images/combo_bg/combo_bg_1.jpg" class="w-100"></img>
			</div>
			<div class="col">
				<h3></b>Residential Construction</h3>
				<p><b>Price:</b> 2 Tỷ</p>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Combo" asp-action="Detail" class="btn btn-main">Chi tiết</a>
				</div>
			</div>
		</div>

		<div class="row p-1">
			<div class="col img-thumbnail">
				<img src="~/images/combo_bg/combo_bg_1.jpg" class="w-100"></img>
			</div>
			<div class="col">
				<h3></b>Residential Construction</h3>
				<p><b>Price:</b> 2 Tỷ</p>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Combo" asp-action="Detail" class="btn btn-main">Chi tiết</a>
				</div>
			</div>
		</div>

	</div>
</div>