<div class="row mb-5 align-items-center">
	<div class="col mt-5">
		<h5 class="text-muted">Home Buying Will Never Be The Same</h5>

		<h1 class="mt-sm-5 mb-sm-5">Find Your Dream Home</h1>

		<h5 class="text-muted">Vietnam's first consumer-centri civil<br>construction quotation platform</h5>

		<div class="btn mt-sm-5" style="background-color:#F27456">
			<a class="text-decoration-none text-white" href="">Get Quote Now</a>
		</div>
	</div>
	<div class="col img-thumbnail">
		<img src="~/images/background.jpg" width="100%" class=""></img>
	</div>
</div>

<hr></hr>

<div class="row align-items-center">
	<div class="col-sm-4 img-thumbnail">
		<img src="~/images/side_bg.jpg" width="100%" class=""></img>
	</div>
	<div class="col-sm-8 p-sm-5">
		<h2>About Us</h2>
		<p>At OurHome, we take pride in being a trusted partner in residential construction. With over 12 years of experience, we have successfully undertaken and completed numerous projects, delivering ideal living spaces and top-notch quality for our clients. Our mission extends beyond merely building houses; we strive to create warm, modern spaces that reflect the unique lifestyle of each family.</p>
		<p>With a dedicated team of architects, engineers, and customer care professionals, we are committed to providing the best service experience. Diligent in every construction phase, we not only ensure construction quality but also foster a comfortable and reliable collaboration process. Let OurHome be your trusted partner, turning your vision of an ideal home into reality.</p>
	</div>
</div>