@{
	ViewData["Title"] = "Home";
}

<div class="row mb-5 align-items-center justify-content-center">
	<div class="col-6 mt-5">
		<h5 class="text-muted">Home Buying Will Never Be The Same</h5>

		<h1 class="mt-sm-5 mb-sm-5" style="color:#F27456">Find Your Dream Home</h1>

		<h5 class="text-muted">Vietnam's first consumer-centri civil<br>construction quotation platform</h5>

		<div class="col-sm btn-group rounded-1 mt-5" role="group">
			<a asp-area="Customer" asp-controller="Quotation" asp-action="Index" class="btn btn-main">Get Quote Now</a>
		</div>
	</div>
	<div class="col-4 img-thumbnail">
		<img src="~/images/background.jpg" width="100%" class=""></img>
	</div>
</div>

<hr></hr>

<div class="row align-items-center mt-5 mb-5">
	<div class="col-sm-4 img-thumbnail">
		<img src="~/images/side_bg.jpg" width="100%" class=""></img>
	</div>
	<div class="col-sm-8 p-sm-5">
		<h2 style="color:#F27456" class="mb-5 mt-5">About Us</h2>
		<p>At OurHome, we take pride in being a trusted partner in residential construction. With over 12 years of experience, we have successfully undertaken and completed numerous projects, delivering ideal living spaces and top-notch quality for our clients. Our mission extends beyond merely building houses; we strive to create warm, modern spaces that reflect the unique lifestyle of each family.</p>
		<p>With a dedicated team of architects, engineers, and customer care professionals, we are committed to providing the best service experience. Diligent in every construction phase, we not only ensure construction quality but also foster a comfortable and reliable collaboration process. Let OurHome be your trusted partner, turning your vision of an ideal home into reality.</p>
	</div>
</div>

<hr></hr>

<div class="container-fluid col align-items-center justify-content-center">
	<div class="row text-center ">
		<h1 class="mt-sm-5 mb-sm-5" style="color:#F27456">Why Us ?</h1>
	</div>
	<div class="row text-center pb-sm-5">
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-solid fa-user-tie fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Professionalism and Experience</h6>
			</div>
		</div>
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-solid fa-star fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Top-notch Construction Quality</h6>
			</div>
		</div>
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-regular fa-thumbs-up fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Customer-Centric Approach</h6>
			</div>
		</div>
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-solid fa-pen-nib fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Innovative Design Solutions</h6>
			</div>
		</div>
		<div class="col-sm p-2">
			<div class="img-thumbnail">
				<i class="fa-solid fa-check fa-6x mb-3 mt-3"></i>
				<h6 class="text-wrap">Reliable Collaboration</h6>
			</div>
		</div>
	</div>
</div>

<hr></hr>

<div class="col">
	<div class="row">
		<div class="mt-5 mb-5 col-sm d-flex justify-content-between align-items-center">
			<h1 style="color:#F27456">Our Projects</h1>
			<div class="btn">
				<a class="text-decoration-underline fa-1x" style="color:#F27456" asp-area="Customer" asp-controller="Project" asp-action="Index">See All</a>
			</div>
		</div>
	</div>
	<div class="row m-auto">
		<div class="col-sm-4 mb-5">
			<div class="img-thumbnail">
				<img src="~/images/project_bg/project_bg_4.jpg" width="100%"></img>
				<div class="m-sm-3 text-dark">
					<h3><b>Name: </b>Villa House</h3>
					<p><b>Location:</b> Ho Chi Minh city</p>
					<p><b>Price:</b> 2 Billion</p>
					<p><b>Size:</b> 120 x 230</p>
				</div>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-5">
			<div class="img-thumbnail">
				<img src="~/images/project_bg/project_bg_4.jpg" width="100%"></img>
				<div class="m-sm-3 text-dark">
					<h3><b>Name: </b>Villa House</h3>
					<p><b>Location:</b> Ho Chi Minh city</p>
					<p><b>Price:</b> 2 Billion</p>
					<p><b>Size:</b> 120 x 230</p>
				</div>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-5">
			<div class="img-thumbnail">
				<img src="~/images/project_bg/project_bg_4.jpg" width="100%"></img>
				<div class="m-sm-3 text-dark">
					<h3><b>Name: </b>Villa House</h3>
					<p><b>Location:</b> Ho Chi Minh city</p>
					<p><b>Price:</b> 2 Billion</p>
					<p><b>Size:</b> 120 x 230</p>
				</div>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-5">
			<div class="img-thumbnail">
				<img src="~/images/project_bg/project_bg_4.jpg" width="100%"></img>
				<div class="m-sm-3 text-dark">
					<h3><b>Name: </b>Villa House</h3>
					<p><b>Location:</b> Ho Chi Minh city</p>
					<p><b>Price:</b> 2 Billion</p>
					<p><b>Size:</b> 120 x 230</p>
				</div>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-5">
			<div class="img-thumbnail">
				<img src="~/images/project_bg/project_bg_4.jpg" width="100%"></img>
				<div class="m-sm-3 text-dark">
					<h3><b>Name: </b>Villa House</h3>
					<p><b>Location:</b> Ho Chi Minh city</p>
					<p><b>Price:</b> 2 Billion</p>
					<p><b>Size:</b> 120 x 230</p>
				</div>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 mb-5">
			<div class="img-thumbnail">
				<img src="~/images/project_bg/project_bg_4.jpg" width="100%"></img>
				<div class="m-sm-3 text-dark">
					<h3><b>Name: </b>Villa House</h3>
					<p><b>Location:</b> Ho Chi Minh city</p>
					<p><b>Price:</b> 2 Billion</p>
					<p><b>Size:</b> 120 x 230</p>
				</div>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>
	</div>
</div>

<hr></hr>

<div class="row container align-items-center mt-5 mb-5 m-auto">
	<div class="col-sm-6">
		<div class="row">
			<div class="d-flex align-items-center justify-content-between">
				<h1 class="mt-5 mb-5" style="color:#F27456">Our Combo</h1>
				<div class="btn">
					<a class="text-decoration-underline fa-1x" style="color:#F27456" asp-area="Customer" asp-controller="Combo" asp-action="Index">See All</a>
				</div>
			</div>
			<p>Our commitment is to deliver excellence in every aspect, ensuring your satisfaction and peace of mind. Explore our diverse range of services tailored to enhance your experience.</p>
		</div>
		<div class="col img-thumbnail">
			<img class="w-100" src="~/images/project_bg/project_bg_4.jpg"></img>
		</div>
	</div>

	<div class="col-sm-6 align-items-center">

		<div class="row p-1">
			<div class="col img-thumbnail">
				<img src="~/images/combo_bg/combo_bg_1.jpg" class="w-100"></img>
			</div>
			<div class="col">
				<h3></b>Residential Construction</h3>
				<p><b>Price:</b> 2 Billion</p>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Project" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>

		<div class="row p-1">
			<div class="col img-thumbnail">
				<img src="~/images/combo_bg/combo_bg_1.jpg" class="w-100"></img>
			</div>
			<div class="col">
				<h3></b>Residential Construction</h3>
				<p><b>Price:</b> 2 Billion</p>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Combo" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>

		<div class="row p-1">
			<div class="col img-thumbnail">
				<img src="~/images/combo_bg/combo_bg_1.jpg" class="w-100"></img>
			</div>
			<div class="col">
				<h3></b>Residential Construction</h3>
				<p><b>Price:</b> 2 Billion</p>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Combo" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>

		<div class="row p-1">
			<div class="col img-thumbnail">
				<img src="~/images/combo_bg/combo_bg_1.jpg" class="w-100"></img>
			</div>
			<div class="col">
				<h3></b>Residential Construction</h3>
				<p><b>Price:</b> 2 Billion</p>
				<div class="col-sm m-1 btn-group rounded-1 w-100 m-auto" role="group">
					<a asp-area="Customer" asp-controller="Combo" asp-action="Detail" class="btn btn-main">Detail</a>
				</div>
			</div>
		</div>

	</div>
</div>