@{
    ViewData["Title"] = "Lịch sử";
}
<div class="d-flex img-thumbnail justify-content-center">
    <div class="d-flex align-items-center">
        <h3 class="p-3">
            <a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
        </h3>
        <i class="fa-solid fa-arrow-right-long"></i>
        <h3 class="p-3">
            <a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Request" asp-action="Index">Báo giá</a>
        </h3>
        <i class="fa-solid fa-arrow-right-long"></i>
        <h3 class="p-3">
            <a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Request" asp-action="RequestHistory">Lịch sử</a>
        </h3>

    </div>
</div>

<hr></hr>

<partial name="_QuotationSubNav"></partial>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-main ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Lịch sử yêu cầu</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="table-responsive">
            <table id="tblRequestHistory" class="table-bordered table-striped text-black" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Mã
                        </th>
                        <th>
                            Ngày tạo
                        </th>
                        <th>
                            Loại công trình
                        </th>
                        <th>
                            Diện tích
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th>
                            Xem báo giá
                        </th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/datatables/customerDTB/RequestDTB.js"></script>
}