
@{
	ViewData["Title"] = "Request History";
}
<div class="d-flex img-thumbnail justify-content-center">
	<div class="d-flex align-items-center">
		<h3 class="p-3">
			<a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
		</h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3">
			<a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Request" asp-action="Index">Quotation</a>
		</h3>
		<i class="fa-solid fa-arrow-right-long"></i>
		<h3 class="p-3">
			<a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Request" asp-action="RequestHistory">Manage Request</a>
		</h3>
		
	</div>
</div>

<hr></hr>

<partial name="_QuotationSubNav"></partial>

<h1 class="text-center my-4" style="color: #F27456">Request History</h1>

<div class="card-body p-4">
	<div class="table-responsive">
		<table id="tblRequestHistory" class="table-bordered table-striped text-black" style="width:100%">
			<thead>
				<tr>
					<th>
						No.
					</th>
					<th>
						Generate Date
					</th>
					<th>
						Construction Type
					</th>
					<th>
						Acreage
					</th>
					<th>
						Location
					</th>
					<th>
						Status
					</th>
					<th>
						Description
					</th>
					<th></th>
				</tr>
			</thead>

		</table>
	</div>
</div>


@section Scripts {
	<script src="~/js/datatables/customerDTB/RequestDTB.js"></script>
}