@{
    ViewData["Title"] = "Material";
}

<div class="d-flex img-thumbnail justify-content-center">
    <div class="d-flex align-items-center">
        <h3 class="p-3"><a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></h3>
        <i class="fa-solid fa-arrow-right-long"></i>
        <h3 class="p-3"><a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Material" asp-action="Index">Material</a></h3>
    </div>
</div>


<div class="container mt-5">
    <form class="d-flex">
        <input class="form-control rounded-pill me-2" type="search" placeholder="Search Material" />
        <button class="btn btn-main" type="submit">Search</button>
    </form>
</div>


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="info-material">
                <header class="mb-3">
                    <h1>
                        <span class="title font-weight-bold">Update construction material prices today</span>
                    </h1>
                </header>

                <p style="font-weight:500; font-size: 1.3em"><strong>What are construction materials? What types of construction materials are included? Their application in life? What is the latest price of construction materials today? We will answer all of these questions in the following article.</strong></p>
                <h5>Nowadays, to build solid structures, we use construction materials that are durable and of high quality. To get the most general overview of construction materials, in this article we will explain to readers what construction materials are, what types of construction materials include, applications and price quotes. latest today.</h5>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h2 id="intro1" class="mt-3"><span style="color:#F27456"><strong>What are construction materials?</strong></span></h2>


                <p>

                    Construction materials is a general term used for all types of materials used for construction purposes. Many construction materials exist in nature, such as: clay, stone, sand, wood, even twigs and leaves. In addition to natural materials, there are now many artificial products such as bricks, cement, reinforced steel...

                    <h2 id="intro2" class="mt-3"><span style="color:#F27456"><strong>What do construction materials include?</strong></span></h2>
                </p>
                <h3 id="brick"><strong>1. Brick</strong></h3>
                <p>To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="cement" class="mt-3"><strong>2. Cement</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="sand" class="mt-3"><strong>3. Sand</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="stone" class="mt-3"><strong>4. Stone</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="iron" class="mt-3"><strong>5. Iron and Steel</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="concrete" class="mt-3"><strong>6. Concrete</strong></h3>
                <p class="mb-3">Concrete is also a synthetic construction material that plays an extremely important role in construction. Concrete is essentially a combination of aggregate and cement. We can mention a form of concrete that is commonly used in construction projects today such as: Portland cement concrete (component includes mineral aggregates, specifically sand and gravel combined with cement). portland and water. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="plaster" class="mt-3"><strong>7. Plaster</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="plastic" class="mt-3"><strong>8. Plastic</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h2 id="application" class="mt-3">
                    <span>
                        <strong>Application of construction materials in life</strong>
                    </span>
                </h2>
                <p>Mud, soil, clay: In the past, walls were created using a mixture of mud or clay then kneaded with water. Soil and especially clay have the ability to adapt to heat very well and keep the temperature at a constant level. Therefore, houses built with earth or clay are often cool in the summer and warm in the winter. Later, people also made bricks from terracotta, and now it has become an indispensable construction material in every project.</p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <p class="mt-3">Sand: Often used with cement and lime to make mortar for construction and plaster. In addition, sand is also used to make concrete mixture.</p>
                <p>Stone and gravel: are construction materials that have existed for a long time. Currently, there are many types of stone used for construction in the world. For example, monolithic stones, evidence of which still exists today, are the Egyptian pyramids. Surely you can see the durability of stone, right?</p>
                <p>Bricks - terracotta tiles: Currently you can find other types of bricks besides bricks made from terracotta such as: bricks made from cement, ceramic bricks, etc. But no matter what material they are made from, bricks is also an important group of construction materials for each project.</p>
                <p>Cement: is a type of hydraulic binder, considered an important construction material and extremely necessary for any project.</p>
                <p>Metal: Including: iron, steel, stainless steel, aluminum, copper, etc. These materials are often used as structural frames for large buildings or exterior surface coatings.</p>
                <h2 id="material-price" class="mt-3">
                    <span style="color:#F27456">
                        <strong>Today's construction materials price list is updated to the latest in 2024</strong>
                    </span>
                </h2>

                <h3 id="stone-price" class="mt-3">
                    <strong>Price of construction stone</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Product's name</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Unit (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Price includes VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="sand-price" class="mt-3">
                    <strong>Price of construction sand</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Product's name</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Unit (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Price includes VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="iron-price" class="mt-3">
                    <strong>Price of construction Iron</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Product's name</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Unit (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Price includes VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="brick-price" class="mt-3">
                    <strong>Price of construction Brick</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Product's name</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Unit (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Price includes VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="cement-price" class="mt-3">
                    <strong>Price of construction cement</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Product's name</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Unit (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Price includes VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-lg-4">
            <div id="category-container">
                <h3 class="text-uppercase font-weight-bold" style="color:#414141">Category List</h3>
                <ul class="category-list">
                    <li class="font-weight-bold">
                        <a href="#intro1">
                            1.
                            <span>
                                <strong>
                                    What are construction materials?
                                </strong>
                            </span>
                        </a>
                    </li>
                    <li class="font-weight-bold">
                        <a href="#intro2">
                            2.
                            <span>
                                <strong>
                                    What do construction materials include?
                                </strong>
                            </span>
                        </a>
                    </li>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#brick">
                                2.1.
                                <strong>1. Brick</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#cement">
                                2.2.
                                <strong>2. Cement</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#sand">
                                2.3.
                                <strong>3. Sand</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#stone">
                                2.4.
                                <strong>4. Stone</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#iron">
                                2.5.
                                <strong>5. Iron and Steel</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#concrete">
                                2.6.
                                <strong>6. Concrete</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#plaster">
                                2.7.
                                <strong>7. Plaster</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#plastic">
                                2.8.
                                <strong>8. Plastic</strong>
                            </a>
                        </li>
                    </ul>
                    <li class="font-weight-bold">
                        <a href="#application">
                            3.
                            <span>
                                <strong>Application of construction materials in life</strong>
                            </span>
                        </a>
                    </li>
                    <li class="font-weight-bold">
                        <a href="#material-price">
                            4.
                            <span>
                                <strong>Today's construction materials price list is updated to the latest in 2024</strong>
                            </span>
                        </a>
                    </li>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#stone-price">
                                4.1
                                <strong>Price of construction stone</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#sand-price">
                                4.2
                                <strong>Price of construction sand</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#iron-price">
                                4.3
                                <strong>Price of construction iron</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#brick-price">
                                4.4
                                <strong>Price of construction brick</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#cement-price">
                                4.5
                                <strong>Price of construction cement</strong>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>

