@model List<MaterialCategory>

<div class="d-flex img-thumbnail justify-content-center">
    <div class="d-flex align-items-center">
        <h3 class="p-3"><a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a></h3>
        <i class="fa-solid fa-arrow-right-long"></i>
        <h3 class="p-3"><a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Material" asp-action="Index">Vật liệu</a></h3>
    </div>
</div>


<div class="container mt-5">
    <form class="d-flex">
        <input class="form-control rounded-pill me-2" type="search" placeholder="Tìm vật liệu" />
        <button class="btn btn-main text-nowrap" type="submit">Tìm kiếm</button>
    </form>
</div>


<div class="container-fluid mt-5 d-flex">
    <div class="row d-flex">
        <div class="col-lg-4 order-lg-1" style="position:">
            <div id="category-container">
                <h3 class="text-uppercase font-weight-bold" style="color:#414141">Danh sách</h3>
                <ul class="category-list">
                    <li class="font-weight-bold">
                        <a href="#intro1">
                            1.
                            <span>
                                <strong>
                                    Vật liệu xây dựng là gì?
                                </strong>
                            </span>
                        </a>
                    </li>
                    <li class="font-weight-bold">
                        <a href="#intro2">
                            2.
                            <span>
                                <strong>
                                    Vật liệu xây dựng gồm những gì?
                                </strong>
                            </span>
                        </a>
                        <ul>
                            <li class="font-weight-bold">
                                <a href="#raw">
                                    <strong>2.1 Vật tư thô</strong>
                                </a>
                            </li>
                            <li class="font-weight-bold">
                                <a href="#complete">
                                    <strong>2.2 Vật tư hoàn thiện</strong>
                                </a>
                                <ul>
                                    <li class="font-weight-bold">
                                        <a href="#paint">
                                            <strong>Sơn nước sơn dầu</strong>
                                        </a>
                                    </li>
                                    <li class="font-weight-bold">
                                        <a href="#electric">
                                            <strong>Điện</strong>
                                        </a>
                                    </li>
                                    <li class="font-weight-bold">
                                        <a href="#sanitary">
                                            <strong>Vệ sinh</strong>
                                        </a>
                                    </li>
                                    <li class="font-weight-bold">
                                        <a href="#kitchen">
                                            <strong>Bếp</strong>
                                        </a>
                                    </li>
                                    <li class="font-weight-bold">
                                        <a href="#stair">
                                            <strong>Cầu thang</strong>
                                        </a>
                                    </li>
                                    <li class="font-weight-bold">
                                        <a href="#door">
                                            <strong>Cửa</strong>
                                        </a>
                                    </li>
                                    <li class="font-weight-bold">
                                        <a href="#ceramicTiles">
                                            <strong>Gạch ốp lát</strong>
                                        </a>
                                    </li>
                                    <li class="font-weight-bold">
                                        <a href="#ceiling">
                                            <strong>Trần</strong>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="font-weight-bold">
                        <a href="#application">
                            3.
                            <span>
                                <strong>Ứng dụng của vật liệu xây dựng trong cuộc sống</strong>
                            </span>
                        </a>
                    </li>
                    <li class="font-weight-bold">
                        <a href="#material-price">
                            4.
                            <span>
                                <strong>Bảng báo giá vật liệu xây dựng hôm nay cập nhật mới nhất 2024</strong>
                            </span>
                        </a>
                        <ul>
                            <li class="font-weight-bold">
                                <a href="#raw-price">
                                    4.1
                                    <strong>Giá vật tư thô</strong>
                                </a>
                            </li>
                            <li class="font-weight-bold">
                                <a href="#paint-price">
                                    4.2
                                    <strong>Giá sơn nước sơn dầu</strong>
                                </a>
                            </li>
                            <li class="font-weight-bold">
                                <a href="#electric-price">
                                    4.3
                                    <strong>Giá vật dụng điện</strong>
                                </a>
                            </li>
                            <li class="font-weight-bold">
                                <a href="#sanitary-price">
                                    4.4
                                    <strong>Giá vật dụng vệ sinh</strong>
                                </a>
                            </li>
                            <li class="font-weight-bold">
                                <a href="#cement-price">
                                    4.5
                                    <strong>Price of construction cement</strong>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#stone-price">
                                4.1
                                <strong>Giá đá xây dựng</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#sand-price">
                                4.2
                                <strong>Giá cát xây dựng</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#iron-price">
                                4.3
                                <strong>Giá sắt xây dựng</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#brick-price">
                                4.4
                                <strong>Giá gạch xây dự</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#cement-price">
                                4.5
                                <strong>Giá xi măng xây dựng</strong>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="info-material">
                <header class="mb-3">
                    <h1>
                        <span class="title font-weight-bold">Cập nhật giá vật liệu hôm nay</span>
                    </h1>
                </header>
                <div>
                    <p style="font-weight:500; font-size: 1.3em"><strong>What are construction materials? What types of construction materials are included? Their application in life? What is the latest price of construction materials today? We will answer all of these questions in the following article.</strong></p>
                    <h5>Nowadays, to build solid structures, we use construction materials that are durable and of high quality. To get the most general overview of construction materials, in this article we will explain to readers what construction materials are, what types of construction materials include, applications and price quotes. latest today.</h5>
                    <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                </div>
                
                <div>
                    <h2 id="intro1" class="mt-3"><span style="color:#F27456"><strong>What are construction materials?</strong></span></h2>
                    <p>
                        Construction materials is a general term used for all types of materials used for construction purposes. Many construction materials exist in nature, such as: clay, stone, sand, wood, even twigs and leaves. In addition to natural materials, there are now many artificial products such as bricks, cement, reinforced steel...
                    </p>
                </div>
                <h3 id="raw"><strong>2.1 Vật tư thô</strong></h3>
                <p>To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h3 id="complete"class="mt-5"><strong>2.2 Vật tư hoàn thiện</strong></h3>
                <h3 id="paint" class="mt-3"><strong>A. Sơn nước sơn dầu</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h3 id="electric" class="mt-3"><strong>B. Điện</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h3 id="sanitary" class="mt-3"><strong>C. Vệ sinh</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h3 id="kitchen" class="mt-3"><strong>D. Bếp</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h3 id="stair" class="mt-3"><strong>E. Cầu thang</strong></h3>
                <p class="mb-3">Concrete is also a synthetic construction material that plays an extremely important role in construction. Concrete is essentially a combination of aggregate and cement. We can mention a form of concrete that is commonly used in construction projects today such as: Portland cement concrete (component includes mineral aggregates, specifically sand and gravel combined with cement). portland and water. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h3 id="door" class="mt-3"><strong>F. Cửa</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h3 id="ceramicTiles" class="mt-3"><strong>G. Gạch ốp lát</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>


                <h3 id="ceiling" class="mt-3"><strong>H. Trần</strong></h3>
                <p class="mb-3">To serve different uses, there are many types of tiles on the market today. For example, for residential housing projects, terra cotta bricks are usually chosen, but in terms of location and usage needs, bricks will be chosen depending on the investor's wishes. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h2 id="application" class="mt-3">
                    <span>
                        <strong>Ứng dụng của vật liệu xây dựng trong cuộc sống</strong>
                    </span>
                </h2>
                <p>Bùn, đất, đất sét: Trước đây, các bức tường đều được tạo ra bằng cách sử dụng hỗn hợp bùn hoặc đất sét sau đó nhào với nước. Đất và đặc biệt là đất sét có khả năng thích ứng nhiệt rất tốt và giữ nhiệt độ ở mức không đổi. Bởi vậy mà những ngôi nhà được xây dựng bằng đất hoặc đất sét thường mát mẻ vào mùa hè và ấm áp vào mùa đông. Sau này, người ta còn chế tạo ra gạch từ đất nung, và đến nay nó đã trở thành vật liệu xây dựng không thể trong mỗi công trình.</p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <p class="mt-3">Sand: Often used with cement and lime to make mortar for construction and plaster. In addition, sand is also used to make concrete mixture.</p>
                <p>Stone and gravel: are construction materials that have existed for a long time. Currently, there are many types of stone used for construction in the world. For example, monolithic stones, evidence of which still exists today, are the Egyptian pyramids. Surely you can see the durability of stone, right?</p>
                <p>Bricks - terracotta tiles: Currently you can find other types of bricks besides bricks made from terracotta such as: bricks made from cement, ceramic bricks, etc. But no matter what material they are made from, bricks is also an important group of construction materials for each project.</p>
                <p>Cement: is a type of hydraulic binder, considered an important construction material and extremely necessary for any project.</p>
                <p>Metal: Including: iron, steel, stainless steel, aluminum, copper, etc. These materials are often used as structural frames for large buildings or exterior surface coatings.</p>

                <h2 id="material-price" class="mt-3">
                    <span style="color:#F27456">
                        <strong>Bảng báo giá vật liệu xây dựng hôm nay cập nhật mới nhất 2024</strong>
                    </span>
                </h2>

                <h3 id="raw-price" class="mt-3">
                    <strong>Giá vật liệu thô</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td style="height:21px;">
                                <p align="center" >
                                    <strong>Product's name</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Unit </strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Price includes VAT <br /> (10%)</strong>
                                </p>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var material in Model.Find(x => x.Id == SD.Category_Raw).Materials)
                        {
                            <tr>
                                <td style="height:21px" >
                                    <p align="left" class="text-black">@material.Name</p>
                                </td>
                                <td style="height:21px">
                                    <p align="center" class="text-black">@material.Unit</p>
                                </td>
                                <td style="height:21px">
                                    <p align="center" class="text-black">@material.UnitPrice.ToString("N0") VND</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <h3 id="paint-price" class="mt-3">
                    <strong>Giá sơn nước sơn dầu</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="electric-price" class="mt-3">
                    <strong>Giá vật liệu điện</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="sanitary-price" class="mt-3">
                    <strong>Giá vật dụng vệ sinh</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="cement-price" class="mt-3">
                    <strong>Giá xi măng xây dựng</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

