@{
    ViewData["Title"] = "Material";
}

<div class="d-flex img-thumbnail justify-content-center">
    <div class="d-flex align-items-center">
        <h3 class="p-3"><a class="text-decoration-none text-black user-select-auto" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a></h3>
        <i class="fa-solid fa-arrow-right-long"></i>
        <h3 class="p-3"><a class="text-decoration-none user-select-auto" style="color: #F27456" asp-area="Customer" asp-controller="Material" asp-action="Index">Vật liệu</a></h3>
    </div>
</div>


<div class="container mt-5">
    <form class="d-flex">
        <input class="form-control rounded-pill me-2" type="search" placeholder="Tìm vật liệu" />
        <button class="btn btn-main text-nowrap" type="submit">Tìm kiếm</button>
    </form>
</div>


<div class="container-fluid mt-5 d-flex">
    <div class="row d-flex">
        <div class="col-lg-4 order-lg-1">
            <div id="category-container">
                <h3 class="text-uppercase font-weight-bold" style="color:#414141">Danh sách</h3>
                <ul class="category-list">
                    <li class="font-weight-bold">
                        <a href="#intro1">
                            1.
                            <span>
                                <strong>
                                    Vật liệu xây dựng là gì?
                                </strong>
                            </span>
                        </a>
                    </li>
                    <li class="font-weight-bold">
                        <a href="#intro2">
                            2.
                            <span>
                                <strong>
                                    Vật liệu xây dựng gồm những gì?
                                </strong>
                            </span>
                        </a>
                    </li>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#brick">
                                2.1.
                                <strong>1. Gạch</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#cement">
                                2.2.
                                <strong>2. Xi măng</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#sand">
                                2.3.
                                <strong>3. Cát</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#stone">
                                2.4.
                                <strong>4. Đá</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#iron">
                                2.5.
                                <strong>5. Sắt thép</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#concrete">
                                2.6.
                                <strong>6. Bê tông</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#plaster">
                                2.7.
                                <strong>7. Thạch cao</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#plastic">
                                2.8.
                                <strong>8. Nhựa</strong>
                            </a>
                        </li>
                    </ul>
                    <li class="font-weight-bold">
                        <a href="#application">
                            3.
                            <span>
                                <strong>Ứng dụng của vật liệu xây dựng trong cuộc sống</strong>
                            </span>
                        </a>
                    </li>
                    <li class="font-weight-bold">
                        <a href="#material-price">
                            4.
                            <span>
                                <strong>Bảng báo giá vật liệu xây dựng hôm nay cập nhật mới nhất 2024</strong>
                            </span>
                        </a>
                    </li>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#stone-price">
                                4.1
                                <strong>Giá đá xây dựng</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#sand-price">
                                4.2
                                <strong>Giá cát xây dựng</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#iron-price">
                                4.3
                                <strong>Giá sắt xây dựng</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#brick-price">
                                4.4
                                <strong>Giá gạch xây dự</strong>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-bold">
                            <a href="#cement-price">
                                4.5
                                <strong>Giá xi măng xây dựng</strong>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="info-material">
                <header class="mb-3">
                    <h1>
                        <span class="title font-weight-bold">Cập nhật giá vật liệu hôm nay</span>
                    </h1>
                </header>

                <p style="font-weight:500; font-size: 1.3em"><strong>Vật liệu xây dựng là gì? Vật liệu xây dựng gồm những loại nào? Ứng dụng của chúng trong cuộc sống? Gía vật liệu xây dựng mới nhất hôm nay là bao nhiêu? Tất cả những câu hỏi đều sẽ được chúng tôi giải đáp trong bài viết sau đây. </strong></p>
                <h5>Ngày nay để xây dựng các công trình kiên cố thì đều sử dụng những loại vật liệu xây dựng có độ bền và chất lượng cao. Để có được cái nhìn tổng quan nhất về vật liệu xây dựng  thì trong bài viết này chúng tôi sẽ giải thích cho quý đọc giả vật liệu xây dựng là gì, vật liệu xây dựng bao gồm những loại nào, ứng dụng và bảng báo giá mới nhất hiện nay.</h5>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h2 id="intro1" class="mt-3"><span style="color:#F27456"><strong>Vật liệu xây dựng là gì?</strong></span></h2>


                <p>
                    Vật liệu xây dựng là thuật ngữ chung dùng cho tất cả các loại vật liệu được sử dụng cho mục đích xây dựng các công trình. Nhiều vật liệu xây dựng được tồn tại sẵn trong tự nhiên,như : đất sét, đá, cát, gỗ, thậm chí cành cây và lá. Ngoài các vật liệu tự nhiên thì hiện nay có rất nhiều sản phẩm nhân tạo như : gạch, xi măng, cốt thép...
                    <h2 id="intro2" class="mt-3"><span style="color:#F27456"><strong>Vật liệu xây dựng gồm những gì?</strong></span></h2>
                </p>
                <h3 id="brick"><strong>1. Gạch</strong></h3>
                <p>Để phục vụ cho những mục đích sử dụng khác nhau mà trên thị trường hiện nay có rất nhiều loại gạch. Chẳng hạn như những công trình nhà ở dân dụng thì thông thường đều lựa chọn loại gạch đất nung , còn về vị trí và nhu cầu sử dụng thì sẽ chọn gạch tùy theo ý muốn của chủ đầu tư. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="cement" class="mt-3"><strong>2. Xi măng</strong></h3>
                <p class="mb-3">Xi măng là thành phần không thể thiếu trong các công trình, thường được sử dụng cho công việc xây, trát, đổ bê tông. Hiện nay trên thị trường có rất nhiều hãng xi măng chính vì thế để đảm bảo cho công trình nhà bạn có thể bền bỉ với thời gian thì bạn nên dành thời gian để tìm hiểu kỹ và lựa chọn hãng xi măng uy tín, chất lượng cao. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="sand" class="mt-3"><strong>3. Cát</strong></h3>
                <p class="mb-3">Loại cát được sử dụng chủ yếu trong các công trình xây dựng hiện nay là cát vàng và cát đen. Cát được bán trên thị trường theo m3, một số nơi còn tính theo số lượng xe.

                Do đó để có được mức giá tốt nhất các bạn nên tìm hiểu kỹ và lựa chọn đơn vị cung cấp cát uy tín, tránh chọn những đơn vị ở quá xa công trình để tránh phát sinh thêm chi phí vận chuyển cũng như tránh rơi vãi trong quá trình di chuyển. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="stone" class="mt-3"><strong>4. Đá</strong></h3>
                <p class="mb-3"> Đá được dùng để tăng thêm khả năng chịu áp lực của bê tông. Hiện nay ở các công trình thường thông thường người ta sẽ lựa chọn loại đá có kích cỡ 1×2 hay 4×6. Việc lựa chọn kích cỡ của đá sẽ phụ thuộc vào kiện thực tế và nhu cầu sử dụng bê tông của mỗi công trình.

                Bên cạnh đó, đá trước khi được đưa vào sử dụng thì cần phải loại bỏ sạch các tạp chất, bụi bẩn dính trên đá. Việc này giúp tăng hiệu quả sử dụng của đá cũng như chất lượng của bê tông.</p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="iron" class="mt-3"><strong>5.  Sắt thép</strong></h3>
                <p class="mb-3">Hiện nay, trên thị trường có vô vàn các thương hiệu sản xuất sắt thép xây dựng bởi đây cũng là một trong số những vật liệu không thể thiếu khi xây dựng. Chắc hẳn các bạn cũng đã nghe qua  một số thương hiệu sắt thép như : thép Hòa Phát, thép Miền Nam, thép Việt Nhật,…. Ngoài ra ở mỗi thương hiệu thì sắt thép còn chia ra thành nhiều loại  như : D6, D10, D16, D20, D28….

                Tùy theo nhu cầu sử dụng cũng như tính chất đặc thù của mỗi công trình mà chúng ta có thể lựa chọn sắt thép thông thường hay sắt thép cao cấp. Thế nhưng dù thế nào đi chăng nữa thì các·bạn vẫn nên ưu tiên chọn loại sắt thép cao cấp.  Bởi lẽ công trình ở ngoài môi trường sẽ phải chịu rất nhiều tác động từ thời tiết suốt thời gian dài. Chính vì thế việc lựa chọn sắt chất lượng cao sẽ giúp công trình của các bạn được bền bỉ với thời gian. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="concrete" class="mt-3"><strong>6. Bê tông</strong></h3>
                <p class="mb-3">Bê tông cũng là một loại vật liệu xây dựng tổng hợp đóng vai trò vô cùng quan trọng trong xây dựng. Thực chất bê tông là sự kết hợp giữa cốt liệu và xi măng. Có thể kể đến một dạng bê tông đang được sử dụng phổ biến trong các công trình xây dựng hiện nay như : bê tông xi măng Portland ( thành phần bao gồm cốt liệu khoáng sản cụ thể là cát và sỏi kết hợp cùng với xi măng portland và nước. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="plaster" class="mt-3"><strong>7. Thạch cao</strong></h3>
                <p class="mb-3">Ngày nay, thạch cao đang được sử dụng trong rất nhiều công trình. Các bạn có thể dễ dàng nhìn thấy trên trần nhà của rất nhiều công trình sử dụng vật liệu này. Bởi lẽ thạch cao có khả năng chịu lực, lực cản và lực cản ngang rất tốt, kháng động đất, chống cháy và tăng tính thẩm mỹ cho công trình. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <h3 id="plastic" class="mt-3"><strong>8. Nhựa</strong></h3>
                <p class="mb-3">Như chúng ta đã biết,  nhựa là một nguyên liệu có tính dẻo , dễ uốn và khả năng chịu nhiệt tốt. Đặc biệt nhựa còn có khả năng phục hồi cực kỳ cao. Nhờ những ưu điểm này mà nhựa đã trở thành một trong những loại vật liệu xây dựng quan trọng bậc nhất ở hầu hết các công trình hiện nay. </p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>

                <h2 id="application" class="mt-3">
                    <span>
                        <strong>Ứng dụng của vật liệu xây dựng trong cuộc sống</strong>
                    </span>
                </h2>
                <p>Bùn, đất, đất sét: Trước đây, các bức tường đều được tạo ra bằng cách sử dụng hỗn hợp bùn hoặc đất sét sau đó nhào với nước. Đất và đặc biệt là đất sét có khả năng thích ứng nhiệt rất tốt và giữ nhiệt độ ở mức không đổi. Bởi vậy mà những ngôi nhà được xây dựng bằng đất hoặc đất sét thường mát mẻ vào mùa hè và ấm áp vào mùa đông. Sau này, người ta còn chế tạo ra gạch từ đất nung, và đến nay nó đã trở thành vật liệu xây dựng không thể trong mỗi công trình.</p>
                <img src="~/images/project_bg/project_bg_4.jpg" width="100%" height="100%"></img>
                <p class="mt-3">Cát: Thường được sử dụng chung với xi măng, vôi để làm vữa phục vụ cho việc xây dựng và làm thạch cao. Ngoài ra thì cát cũng được sử dụng để làm hỗn hợp bê tông.
                Đá, sỏi: là những vật liệu xây dựng có từ lâu đời . Hiện nay, trên thế giới có rất nhiều loại đá dùng để xây dựng . Chẳng hạn như đá nguyên khối , minh chứng vẫn còn tồn tại cho đến ngày nay đó chính là kim tự tháp Ai Cập . Chắc hẳn các bạn cũng thấy được độ bền của đá rồi phải không nào.</p>
                <p>Gạch – gạch đất nung: Hiện nay các bạn có thể tìm thấy các loại gạch khác ngoài gạch được làm từ đất nung như : gạch được làm từ xi măng, gạch men,…Nhưng dù cho có được làm từ vật liệu gì thì gạch cũng là nhóm vật liệu xây dựng quan trọng cho mỗi công trình..</p>
                <p>Xi măng: là một loại chất kết dính thủy lực, được xem là vật liệu xây dựng quan trọng và vô cùng cần thiết cho bất cứ công trình nào.</p>
                <p>Kim loại: Bao gồm: sắt, thép, inox, nhôm, đồng,… Những loại vật liệu này thường được sử dụng làm khung cấu trúc cho các tòa nhà lớn hoặc lớp phủ bề mặt bên ngoài.</p>
                <h2 id="material-price" class="mt-3">
                    <span style="color:#F27456">
                        <strong>Bảng báo giá vật liệu xây dựng hôm nay cập nhật mới nhất 2024</strong>
                    </span>
                </h2>

                <h3 id="stone-price" class="mt-3">
                    <strong>Giá đá xây dựng</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="sand-price" class="mt-3">
                    <strong>Giá cát xây dựng</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>
                
                <h3 id="iron-price" class="mt-3">
                    <strong>Giá sắt xây dựng</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="brick-price" class="mt-3">
                    <strong>Giá gạch xây dựng</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h3 id="cement-price" class="mt-3">
                    <strong>Giá xi măng xây dựng</strong>
                </h3>

                <table class="table table-bordered" border="1" cellpadding="0" cellspacing="0" style="width:286px" width="286">
                    <tbody>
                        <tr>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Tên sản phẩm</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Đơn vị tính (M3)</strong>
                                </p>
                            </td>
                            <td style="height:21px">
                                <p align="center">
                                    <strong>Giá có VAT (10%)</strong>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                            <td style="height:21px">
                                <p align="center">Product's name</p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        
    </div>
</div>

