@model MaterialViewModel
@{
    ViewData["Title"] = "Sửa vật liệu";
}


<div class="card shadow border-0 my-4">
    <div class="card-header bg-main ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Sửa vật liệu</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
<<<<<<< HEAD
        <form method="post" class="row">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Material.Id" class="form-control border-0 shadow" disabled/>
                    <input asp-for="Material.Id" type="hidden" />
                    <label asp-for="Material.Id" class="ms-2"></label>
                    <span asp-validation-for="Material.Id" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Material.Name" class="form-control border-0 shadow" />
                    <label asp-for="Material.Name" class="ms-2"></label>
                    <span asp-validation-for="Material.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Material.InventoryQuantity" class="form-control border-0 shadow" />
                    <label asp-for="Material.InventoryQuantity" class="ms-2"></label>
                    <span asp-validation-for="Material.InventoryQuantity" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Material.UnitPrice" class="form-control border-0 shadow" />
                    <label asp-for="Material.UnitPrice" class="ms-2"></label>
                    <span asp-validation-for="Material.UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Material.Unit" class="form-control border-0 shadow" />
                    <label asp-for="Material.Unit" class="ms-2"></label>
                    <span asp-validation-for="Material.Unit" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="Material.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <label asp-for="Material.CategoryId" class="ms-2"></label>
                    <span asp-validation-for="Material.CategoryId" class="text-danger"></span>
                </div>
=======
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Material.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Material.Id" class="form-control border-0 shadow" disabled />
                            <input asp-for="Material.Id" type="hidden" />
                            <label asp-for="Material.Id" class="ms-2"></label>
                            <span asp-validation-for="Material.Id" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Material.Name" class="form-control border-0 shadow" />
                            <label asp-for="Material.Name" class="ms-2"></label>
                            <span asp-validation-for="Material.Name" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Material.UnitPrice" class="form-control border-0 shadow" />
                            <label asp-for="Material.UnitPrice" class="ms-2"></label>
                            <span asp-validation-for="Material.UnitPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            @* <input asp-for="Material.Unit" class="form-control border-0 shadow" /> *@
                            <select asp-for="Material.Unit" asp-items="@Model.UnitList" class="form-select border-0 shadow">
                                <option disabled selected>--Chọn đơn vị--</option>
                                
                            </select>
                            <label asp-for="Material.Unit" class="ms-2"></label>
                           @*  <span asp-validation-for="Material.Unit" class="text-danger"></span>  *@
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="Material.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Chọn loại--</option>
                            </select>
                            <label asp-for="Material.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Material.CategoryId" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="Material.ImageUrl" class="ms-2"></label>

                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn form-control btn-main"> Lưu </button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Material" asp-action="Index" class="btn btn-primary border form-control">
                                    Trở lại
                                </a>
                            </div>
                        </div>

>>>>>>> Demostration

                    </div>
                </div>

                <div class="col-2">
                    <img src="@Model.Material.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                   
                </div>
            </div>
            
        </form>
    </div>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}