@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Combo</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a href="">Home</a></h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">Combo</h6>
    </div>
</div>
<!-- Page Header Start -->
<!-- Services Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4">We Provide <span class="text-primary">The Best</span> Construction Combo</h1>
    </div>
    <div class="row g-5">
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-white d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-1.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-building text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Building Construction</h4>
                    <p>Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo</p>
                    <a class="btn text-primary" href="">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-2.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-home text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">House Renovation</h4>
                    <p>Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo</p>
                    <a class="btn text-primary" href="">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-3.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-drafting-compass text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Architecture Design</h4>
                    <p>Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo</p>
                    <a class="btn text-primary" href="">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-4.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-palette text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Interior Design</h4>
                    <p>Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo</p>
                    <a class="btn text-primary" href="">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-5.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-tools text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Fixing & Support</h4>
                    <p>Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo</p>
                    <a class="btn text-primary" href="">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-6.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-paint-brush text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Painting</h4>
                    <p>Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo</p>
                    <a class="btn text-primary" href="">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->